body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5; /* color de fondo suave */
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: #2b6cb0;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #2c5282;
    margin-top: 20px;
}

h3, h4 {
    color: #2a4365;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}
a {
    color: #2b6cb0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2b6cb0;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #2c5282;
}